.container-tour{
    display: flex;
    justify-content:space-around;
    padding-top: 100px;
}
.container-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 30px;
    border-radius: 20px;
    width: 1000px;
    margin: 0 auto;
}


.img-tour{
    width: 400px;
    border-radius: 13px;

    
}
.container-info{
        padding-left: 20px;
}

.info{
    padding-bottom: 20px;
}
.link-tour{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: rgb(238,123,26); 
    border: none;
    padding: 5px;
}



