*{
    font-family: 'Furore Regular', sans-serif;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.img-pos{
    /* border: 2px solid black; */
    position: relative;
    width: 500px;
    height: 470px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.container_main{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding-left: 100px;

}

.album-image {
    width: 540px;
    height: 380px;
}

.date{
font-size: 40px;
font-weight: 400;
line-height: 72px;
text-align: left;
color: rgba(0, 14, 65, 1);

}

.titleSite{
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 14, 65, 1)
    

}

.titleSite_down{
font-size: 20px;
font-weight: 500;
line-height: 41.99px;
text-align: left;

}
.link_auth{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 200px;
    height: 57px;
    border-radius: 18px;
}

.container-div{
    display: flex;
    margin-right: 20px;
}

.cont-tournament{
    padding-right: 20px;
}

.cont-auth{
    font-size: 13px;
    padding-right: 20px;
}
.link_auth{
    text-decoration: none;
    color: black;
    transition: transform 0.4s ease;
    
}

.link_auth:hover{
    transform: scale(1.1);
    background-color: rgb(238,123,26)
}





