.menu__list{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-top: 20px;
  padding-right: 20px;
}
.link-vk{
  text-decoration: 0px;
}

.img1{
width: 92px;
height: 70px;
}
.img2{
  width: 136px;
height: 79px;
  
}
.img3{
  width: 134px;
  height: 78px;
}
.img4{
  width: 95px;
  height: 85px;
  
}
.img5{
  width: 145px;
  height: 77px;
}
.img6{
  width: 297px;
  height: 167px;
  
}